/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * { font-family: 'Spoqa Han Sans','Sans-serif'; }

 @font-face{font-family:'sdwb'; src:url('fonts/SDW_Font-Bold.ttf')}
 @font-face{font-family:'sdwr'; src:url('fonts/SDW_Font-Regular.ttf')}
 
 body {
  margin: 0
 }


 body, div{
   text-align: center;
   word-break: break-all;
  }

:root {
  --div_size: 50%;
  --div_padding: 0px;
}

:lang(sdw){
  font-family:'sdwb', 'sdwr';
  margin: 3rem 0 2rem 0;
}
:lang(ko){
  font-family:'Noto Sans KR';
}

h1 {
  font-family:'sdwb', 'sdwr';
  padding: 3rem 0 2rem 0;
}

.hms{
  color:white;
  width: 60px;
  margin-right:0;
}

.menu>li{
  display: inline-block;
}

.menu>li:after{
  content: "\002F";
  font-weight: 300;
  margin: 0 10px 0 12px;
  margin: 0 0.625rem 0 0.75rem;
}
.menu {
  background-color: white;
  padding:0;
  margin:0;
}
#motionPoster {
  margin: 0;
  position: absolute;
  top:40;
  background-color: black;
  padding-top: 40px;
  z-index: -2;
  height: 100vh;
  width:100vw;
  color:white;
}
#motionPoster:before{
  content:'';
  position: absolute;
  left:0;
  top:0;
  display:block;
  width:100%;
  height:100%;
  opacity: 0.15;
  background-image:url(assets/poster.gif);
  z-index: -1;
  background-size: cover;
  background-position: center;
}
p.content_section {
  font-size: 8pt;
}

p.content_A {
  font-size: 12pt;
  text-align: center;
  margin: auto;
}

p.content_div {
  width:'100%'; 
  height:'100%'; 
}

p.content_title {
  text-align:left; 
  width:'100%'; 
  padding: 20px 20px 20px 20px;
  line-height: 2.6rem; 
  font-size: 2.4rem;
}

p.content_subtitle {
  text-align:left; 
  width:'100%'; 
  padding: 20px 20px 0px 20px;
  line-height: 3rem; 
  font-style: bold;
  font-size: 2rem;
}


p.content_paragraph {
  text-align:left; 
  width:'100%'; 
  padding: 20px 20px 20px 20px;
  line-height: 2rem; 
  font-size: 1.2rem;
}

p.content_list {
  text-align:left; 
  width:'100%'; 
  padding: 20px 20px 20px 20px;
  line-height: 2rem; 
  font-size: 1.2rem;
}

.icon_big{

  font-size: 3rem;
}



/********************************/

table {
  /* margin: auto; */
  border-collapse: collapse;
  width:100%;
}

td {
  word-break: break-all;
  transition: background-color 0.5s ease-in;
  overflow: hidden;
}



table.exhibition{
  background-color: rgb(192, 0, 0);
  color: black;
  border-color: green;
  border: 5px;

}

.menu_button {

  background-color: transparent;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;

}

.menu_button:hover {
 text-decoration:underline; 
}

.black_div_center {
  font-family:'sdwb', 'sdwr';
  height: 200px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font50 {
  font-size: 50px;
  font-weight:700;
}

.font_snu{
  font-family:'sdwb', 'sdwr';
}

.font_bold{
  font-weight:700;
}

.white_div_center {
  height: 200px;
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}


.white_div_left {
  width: 100%;

  background-color: rgb(255, 255, 255);
  color: black;
  align-items: left;
  padding-top: 100px;
}

p.title_left {
  text-align:left; 
  width:'100%'; 
  padding: 20px 20px 20px 25%;
  line-height: 2.6rem; 
  font-size: 2.4rem;
}

p.content_left{
  text-align:left; 
  width:'100%'; 
  padding: 20px 10% 20px 25%;
  line-height: 2rem; 
  font-size: 1.2rem;
  margin-bottom: 15%;
}

.black_ruler {
  height: 5px;
  width: 25%;
  margin-left: 23%;
  background-color: rgb(0, 0, 0);
}

.black_table {
  background-color: rgb(0, 0, 0);
}

.black_cell {
  background-color: rgb(0, 0, 0);
  color: white;
}

.white_cell {
  background-color: rgb(255, 255, 255);
  color: black;
}

.light_black_cell {
  background-color: rgb(55, 55, 55);
  color: white;
}

.dark_white_cell {
  background-color: rgb(240, 240, 240);
  color: black;
}

.content_div{
  height: 100%;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:transparent;  /*Set a background color */
  color:rgb(114, 114, 114); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  text-decoration: underline;
  
}

/* scroll events */

  .fill_color{
    background-color: black;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


  .tumblbug_ex {

    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(0, 0, 0);
    font-family: 'Spoqa Han Sans','Sans-serif';
    font-size : 13px;
  }

  /************************************EXHIBITION 수업 관련 **********************/

  div.block{
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
  }


  span.title {
    font-size: 20pt;
  }
  span.room {
    font-size: 16px;
    opacity: 0.5;
    margin:0;
  }
    
  div.class {
    display:flex;


    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }


  div.class_number{
    width: 10%;
    text-align: left;
    padding-right: 2%;
  }

  div.class_title{
    min-height: 10em;
    width: 30%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: left;
    padding: 1%;

  }

  div.class_contents{
    width: 40%;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: left;
    padding: 1%;

    margin-left: 1%;
    font-size: 12pt;
    line-height: 18pt;
  }

  div.class_id {
/*
    margin-left: 20%;
    margin-right: 0%;
    */
  }


    /***********************************PROGRAM 프로그램관련 **********************/

#program_sheet {
  padding: 7%;
}

div.two_col {

  border-width                :   1px;
  border-color                :   rgb(119, 119, 119);

  display: inline-block;
  vertical-align:top;
  width: 500px;
  margin: 1%;

}

p.program_title_eng {
  font-family:'sdwb', 'sdwr';
    padding-top: 5%;
    font-size: 15pt;
  }

p.program_title {
  font-size: 30pt;
  font-weight: 900;
  margin: 0;
}

p.program_title_sub {
  font-size: 12pt;
  color: rgba(125, 125, 125);
  padding-bottom: 5%;
}

p.program_section {
  font-size: 16pt;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
  font-weight: 900;
}

p.program_section_name {
  margin-top:12px;
  font-size: 12pt;
  color:#606060;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 24px;
}

p.program_section_sub {
  font-size: 10pt;
  margin-top:0;
  margin-bottom: 0px;
}


p.program_day_black {

  width: 150px;
  height: 32px;
  font-size: 15pt;
  text-align: center;
  margin: auto;
  padding-top:10px;
  padding-bottom:10px;
  background-color: black;
  color: white;
  white-space: nowrap;
}

p.program_day_white {

  width: 150px;
  height: 32px;
  font-size: 15pt;
  margin: auto;
  padding-top:10px;
  padding-bottom:10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  white-space: nowrap;
}

span.time {

  font-size: 0.5rem;
}

.titleCell{
  width: 100%;
  height: 20px;
  color: white;
}

#program_apply {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  border: solid;
  border-width: 1px;
  border-color: black;
  height: 40px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  padding-top: 11px;
  text-decoration: none;
}

#program_apply:hover{
  background-color:black;
  color: white;
  align-self: center;
  vertical-align: middle;
  text-decoration: none;
}